<h1>Edit Your Entry</h1>

<form action = '/entries/<%=@entry.id%>' name="method" method="post">
  <input type ="hidden" name="_method" value="patch"/>
  
  <p class="picture">Photo:</p><input type="text" name="entry[photo_link]" value="<%=@entry.photo_link%>"/>
  
  <p class="header">Header:</p><textarea rows="1" cols="50" name="entry[header]"><%=@entry.header%></textarea>
  
  <p class="post">Post:</p><textarea rows="25" cols="50" name="entry[post]"><%=@entry.post%></textarea>
  
  <p class="post">Tag(s):</p><textarea rows="2" cols="50" name="tags[body]"> <%=@tag.body%> </textarea>

  <input type ="submit" value="Submit">
</form>	


	
