
<% if @entry.photo_link.empty? %>
  <p>
<% else %>
  <img class ="entry_photo" src = "<%= @entry.photo_link %>" width="auto" height="300px"/>
<% end %>

<p class="header"><%= @entry.header %></p>

<div id="show-entry">
  <p><%= @entry.post %></p>
  <p><%= @entry.created_at %></p>

  <p>Tags: <%= @all_tags %><p>

</div>


<% if @error %>
	<span class ="errors"><%= @error %></span>
<% else %>
	<table>
		<tr>
			<td>
				<a class="edit_delete" href="/entries/<%=@entry.id%>/edit">Edit</a> 
			</td>
			<td>
				<form action= '/entries/<%=@entry.id%>' name="method" method="post">
				<input type="hidden" name="_method" value="delete"/>
				<input class="edit_delete" type="submit" value="Delete"/>
				</form>
			</td>
		</tr>
	</table>
<% end %>




