
<% if @entry.photo_link.empty? %>
  <p>
<% else %>
  <img class ="entry_photo" src = "<%= @entry.photo_link %>" width="auto" height="300px"/>
<% end %>

<p class="header"><%= @entry.header %></p>

<div id="show-entry">
  <p><%= @entry.post %></p>
  <p><%= @entry.created_at %></p>

  <p>Tags:</p>
    <% @tag_body = @tags.map do |tag| %>
    	<div class="tag-show"><%= tag.body %></div>
    <% end %>
    <%@all_tags = @tag_body.join(" ")%>


</div>


<% if @error %>
	<span class ="errors"><%= @error %></span>
<% else %>
	<table>
		<tr>
			<td>
				<a class="edit_delete" href="/entries/<%=@entry.id%>/edit">Edit</a> 
			</td>
			<td>
				<form action= '/entries/<%=@entry.id%>' name="method" method="post">
				<input type="hidden" name="_method" value="delete"/>
				<input class="edit_delete" type="submit" value="Delete"/>
				</form>
			</td>
		</tr>
	</table>
<% end %>



<script>
  var $form  = $('.form-tag'),
      $input = $('input[name="tag[body]"]');

  var tagList = new tagList();
  var tagListView = new tagListView($('.tags-ul'), tagList);

  $form.on("submit", function(e){
    e.preventDefault();
    var tag = new Tag($input.val());
    tagList.add(tag);
  });
</script>


