
<table>
	<tr>
		<td><img class ="entry_photo" src = "<%= @entry.photo_link %>" width="auto" height="300px"/></td>
	</tr>

	<tr>
		<td><p class="header"><%= @entry.header %></p></td>
	</tr>
	<tr>
		<td><%= @entry.post %></p></td>
	</tr>
	<tr>	
		<td><%= @entry.updated_at %></td>
	</tr>
</table>

<% if @error %>
	<span class ="errors"><%= @error %></span>
<% else %>
	<table>
		<tr>
			<td>
				<a class="edit_delete" href="/entries/<%=@entry.id%>/edit">Edit</a> 
			</td>
			<td>
				<form action= '/entries/<%=@entry.id%>' name="method" method="post">
				<input type="hidden" name="_method" value="delete"/>
				<input class="edit_delete" type="submit" value="Delete"/>
				</form>
			</td>
		</tr>
	</table>
<% end %>




